@inherits ComponentBase
@using PoliceUk.Entities.StreetLevel;

@if (!loading && CrimeResults != null && CrimeResults.Crimes != null && CrimeResults.Crimes.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>Month</th>
				<th>Category</th>
				<th>Location</th>
				<th>Outcome Date</th>
				<th>Outcome Category</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var crime in CrimeResults.Crimes)
			{
				<tr>
					<td>@crime.Month</td>
					<td>@crime.Category @crime.Month</td>
					<td>
						<p>@crime.Location.Street.Name</p>
						<p>@crime.Location.Latitude, @crime.Location.Latitude</p>
					</td>
					<td>
						@if (crime.OutcomeStatus != null && crime.OutcomeStatus.Date != null)
						{
							<p>@crime.OutcomeStatus.Date</p>
						}
					</td>
					<td>
						@if (crime.OutcomeStatus != null && crime.OutcomeStatus.Category != null)
						{
							<p>@crime.OutcomeStatus.Category</p>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else if (loading)
{
	<p><em>Loading</em></p>
}
else
{
	<p><em>No Crimes Found</em></p>
}

@code {
	[Parameter]
	public StreetLevelCrimeResults CrimeResults { get; set; }

	[Parameter]
	public bool loading { get; set; }
}
